.contenedor-inicial {
    text-align: center;
}

.contenedor {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
}

select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #f5b906;
    color: #1a237e;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #F2CB05;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5b906;
    color: #1a237e;

}

td div {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#scheduleTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

#scheduleTable th,
#scheduleTable td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

/* Para pantallas más pequeñas */
@media (max-width: 768px) {

    #scheduleTable th,
    #scheduleTable td {
        font-size: 12px;
        /* Reducir el tamaño de fuente */
        padding: 4px;
    }
}

@media (max-width: 480px) {
    #scheduleTable {
        min-width: 100%;
        /* Hace que la tabla ocupe toda la pantalla */
    }

    #scheduleTable th,
    #scheduleTable td {
        font-size: 8px;
        /* Hacer el texto más pequeño en celulares */
        padding: 3px;
    }

    .acordeon-container {
        width: 70%;
    }

    .table-container {
        width: 20%;
    }

    .nivel-btn,
    .materia-btn {
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 6px;
        background: #f5b906;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
    }
}

.table-container {
    width: 80%;
    padding: 10px;

}

.acordeon-container {
    width: 40%;
    padding-top: 25px;
}

.nivel-btn,
.materia-btn {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    background: #f5b906;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.nivel-btn:hover,
.materia-btn:hover {
    background: #e0a800;
}

.materias,
.docentes {
    margin-left: 15px;
    padding-left: 10px;
    border-left: 3px solid #f5b906;
}

.docente-item {
    list-style: none;
    background: #ffe082;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
}

.docente-item {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.docente-item:hover {
    background-color: #ddd;
}

.docente-item.seleccionado {
    background-color: #46e14b;
    /* Verde */
    color: white;
    font-weight: bold;
}